
body,html{
    margin:0;
    padding:0;
}

body{
    background-image: url(../assets/img/background.png);
    background-color: black;
}
*{
    box-sizing: border-box;
}

h2{
    font-family: var(--secondaryFont);
    color:var(--red)
}

.container{
    max-width: 1200px;
    margin: auto;
}
section{
    min-height:60vh
}