@import './_variables.css';
.detail{
    display: flex;
    flex-wrap: wrap;
}
.detail .image{
    width: 50%;
    display: flex;
    justify-content: end;
    padding-right: 40px;
}

.detail .info{
    width: 50%;
}

.detail .platforms .platform{
    color:white;
    font-family: var(--secondaryFont);
    margin: 5px;
    display: inline-block;
}

.detail .info .description{
    color:white;
    font-family: var(--secondaryFont);
}
.detail h1{
    color: var(--red);
    font-family: var(--secondaryFont);
}

.detail .platforms{
    color:var(--gray)
}