@import './_variables.css';
.detail{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.detail .image{
    display: flex;
    justify-content: end;
    padding-right: 40px;
}

.detail image .rating{
    position: absolute;
    top:10px;
    right: 10px;
    font-weight: 700;
    background-image: url('../assets/img/rating.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width:70px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: var(--golden);
    font-family: var(--secondaryFont);
    transform: rotate(9deg);
    z-index: 10;
  }

.detail .info{
    max-width: 500px;
    padding: 40px;
}

.detail .info .release{
    color:var(--red)
}

.detail .platforms .platform{
    color:white;
    font-family: var(--secondaryFont);
    margin: 5px;
    display: inline-block;
}

.detail .info .description{
    color:white;
    font-family: var(--secondaryFont);
}
.detail h1{
    color: var(--red);
    font-family: var(--secondaryFont);
}

.detail .platforms{
    color:var(--gray)
}