.filters{
    margin: auto;
    display: flex;
    justify-content:center;
    margin: 40px;
    gap:20px;
    flex-wrap: wrap;
 }
 
 .filters label{
    color:white;
    font-family: var(--secondaryFont);
    margin-right: 10px;
 }