@import './_variables.css';

.form{
    border:solid 10px var(--grayLight);
    border-top:40px solid var(--grayLight);
    background: black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    margin: 20px;
    gap:10px
}

.form.column{
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.form .fieldGroup{
    display: flex;
    flex-wrap: wrap;
    gap:2%;
}

.form .fieldGroup >div{
    flex: 1 1 0px;
}

.form .fieldGroup label{
    width: 20%;
    text-align: right;
    padding: 10px;
    font-weight: 700;
}

.form .fieldGroup input,.form .fieldGroup textarea{
    width: 100%;
}

.form .error{
    color:var(--red);

}

.form input,.form select,textarea{
    background: var(--grayDeep);
    height: 65px;
    width: 90%;
    border:0;
    border-radius: 4px;
    font-family: var(--secondaryFont);
    font-size: 1.3em;
    padding-left: 10px;
}

.form textarea{
    height: 100px;
}

.form select{
    height: 200px ;
    width:80%;
}



.form label{
    color:var(--grayLight);
    font-family: var(--secondaryFont);
    font-size: 1.3em;
}


.form .submitWrapper{
    margin: 20px;
}
