body,html{
    margin:0;
    padding:0;
}

body{
    background-image: url(../assets/img/background.png);
    background-color: black;
}
*{
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: auto;
}